.ac_accordion
{
	position: relative;
}

.w_list.ac_accordion .w_bloc
{
	background-color: #fff;
}

.w_list.ac_accordion .w_list_item.w_no_wrap.ac_title
{
	min-height: 44px;
}

.ac_section
{	
	position: relative;
}
.ac_content
{
	position: absolute;
	bottom: 0px;
	z-index: 49;
	width: 100%;
}

.ac_title_container
{
	position: relative;
	z-index: 50;
}