[submodule "plugins/gestures"]
	path = plugins/gestures
	url = https://github.com/winktoolkit/plugin-gestures
[submodule "plugins/motion"]
	path = plugins/motion
	url = https://github.com/winktoolkit/plugin-motion
[submodule "plugins/topbottom"]
	path = plugins/topbottom
	url = https://github.com/winktoolkit/plugin-topbottom.git
[submodule "plugins/featdetectstorage"]
	path = plugins/featdetectstorage
	url = https://github.com/winktoolkit/plugin-storefeaturedetection.git
[submodule "plugins/simplestorage"]
	path = plugins/simplestorage
	url = https://github.com/winktoolkit/plugin-simplestorage.git
[submodule "plugins/visualfeedback"]
	path = plugins/visualfeedback
	url = https://github.com/winktoolkit/plugin-visualfeedback.git
[submodule "plugins/winkjquery"]
	path = plugins/winkjquery
	url = https://github.com/winktoolkit/plugin-jquery.git
[submodule "plugins/completion"]
	path = plugins/completion
	url = https://github.com/winktoolkit/plugin-completion.git
[submodule "plugins/asyncpanels"]
	path = plugins/asyncpanels
	url = https://github.com/winktoolkit/plugin-asyncpanels.git
[submodule "plugins/scrolltoload"]
	path = plugins/scrolltoload
	url = https://github.com/winktoolkit/plugin-scrolltoload.git
[submodule "plugins/scrolltorefresh"]
	path = plugins/scrolltorefresh
	url = https://github.com/winktoolkit/plugin-scrolltorefresh.git
[submodule "plugins/sharingwheel"]
	path = plugins/sharingwheel
	url = https://github.com/winktoolkit/plugin-sharingwheel.git
[submodule "plugins/parallax"]
	path = plugins/parallax
	url = https://github.com/ke20/wink-plugin-parallax.git
[submodule "plugins/projection"]
	path = plugins/projection
	url = https://github.com/ke20/wink-plugin-projection.git
