<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="{+IO.encoding+}" />
		<meta name="generator" content="JsDoc Toolkit" />
		<title>{+data.subtitle+} | <if test="JSDOC.opt.D.title">{+JSDOC.opt.D.title+}<else />JsDoc Reference</if></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="mobileoptimized" content="0" />
		
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
	
		<link rel="stylesheet" href="{+Link.base+}css/all.css" media="all" />
		<link rel="stylesheet" href="{+Link.base+}css/handheld.css" media="only screen and (max-width: 660px)" />
		<link rel="stylesheet" href="{+Link.base+}css/handheld.css" media="handheld" />
		<link rel="stylesheet" href="{+Link.base+}css/screen.css" media="screen and (min-width: 661px)" />

		<script src="{+Link.base+}javascript/all.js"></script>
		<!--[if lt IE 9]>
			<script src="{+Link.base+}javascript/html5.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="{+JSDOC.opt.D.root_url+}/utils/doc/libs/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
		<script type="text/javascript" src="{+JSDOC.opt.D.root_url+}/utils/doc/libs/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
		
		<link type="text/css" rel="stylesheet" href="{+JSDOC.opt.D.root_url+}/utils/doc/libs/syntaxhighlighter_3.0.83/styles/shCoreDefault.css"/>
		
		<script type="text/javascript">
			SyntaxHighlighter.defaults['toolbar'] = false;
			
			SyntaxHighlighter.all();
		</script>
	</head>

	<body>
	<div id="main">
		<div id="header_menu">
			<ul>
				<li>
					<a href="{+JSDOC.opt.D.website_url+}/discussion/">discussion</a>
				</li>
				<li>
					<a href="{+JSDOC.opt.D.website_url+}/blog/">blog</a>
				</li>
				<li>
					<a href="{+JSDOC.opt.D.website_url+}/tutorials/">tutorials</a>
				</li>
				<li>
					<a href="{+JSDOC.opt.D.website_url+}/downloads/">downloads</a>
				</li>
				<li>
					<a href="{+JSDOC.opt.D.website_url+}/previews/">previews</a>
				</li>
				<li class="selected">
					<a href="{+JSDOC.opt.D.website_url+}/documentation/">documentation</a>
				</li>
				<li>
					<a href="{+JSDOC.opt.D.website_url+}">home</a>
				</li>
			</ul>
		</div>
		<div id="header_banner">
			<a href="{+JSDOC.opt.D.website_url+}" title="Wink Toolkit">
				<img id="header_logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
			</a>
			<h1 id="header_title">documentation</h1>
		</div>
		<div style="clear: both"></div>
